/*---BASE---*/
/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #f9fbff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, a {
  text-decoration: none;
  outline: none; }

img {
  height: auto;
  display: block; }

/*-----FONTS-----*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); }

/*-----MODULES-----*/
.firstSection .header {
  padding: 0 15px; }

.firstSection .header .wrapper {
  width: 100%;
  max-width: 1170px;
  margin: auto; }

.firstSection .header .wrapper .headNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 2px solid #2b8da3; }

.firstSection .header .wrapper .headNav .wraplogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%; }

.firstSection .header .wrapper .headNav .wraplogo a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: OpenSansBold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none; }

.firstSection .header .wrapper .headNav .wraplogo a > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -o-transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99), -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.firstSection .header .wrapper .headNav .wraplogo a > div > div {
  color: #d2d2d2;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -o-transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99), -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -webkit-transform: translateX(100%) translateZ(0);
          transform: translateX(100%) translateZ(0); }

.firstSection .header .wrapper .headNav .wraplogo a:hover div {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.firstSection .header .wrapper .headNav .wrapButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%; }

.firstSection .header .wrapper .headNav .wrapButton .linkSupport,
.firstSection .header .wrapper .headNav .wrapButton .linkLogin {
  height: 40px;
  padding: 9px 16px;
  color: #ade8f5;
  border: 2px solid #379ab0;
  font-family: OpenSansSemibold;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.firstSection .header .wrapper .headNav .wrapButton .linkSupport {
  border-right: none;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px; }

.firstSection .header .wrapper .headNav .wrapButton .linkSupport:hover {
  color: #379ab0;
  background-color: #fff;
  border-right: none; }

.firstSection .header .wrapper .headNav .wrapButton .linkLogin {
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px; }

.firstSection .header .wrapper .headNav .wrapButton .linkLogin:hover {
  color: #379ab0;
  background-color: #fff; }

.firstSection .header .wrapper .wrapContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 125px 0 47px; }

.firstSection .header .wrapper .wrapContent .title {
  color: #aee8f4;
  font-family: OpenSansLight;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 25px; }

.firstSection .header .wrapper .wrapContent .title span {
  color: #fff; }

.firstSection .header .wrapper .wrapContent .subTitle {
  color: #fff;
  font-family: OpenSansBold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 35px; }

.firstSection .header .wrapper .wrapContent .video {
  margin-bottom: 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

.firstSection .header .wrapper .wrapContent .wrapIllustration img {
  max-width: 100%; }

@media screen and (max-width: 768px) {
  .firstSection .header .wrapper .headNav .wraplogo a {
    font-size: 16px; }
  .firstSection .header .wrapper .headNav .wrapButton .linkSupport,
  .firstSection .header .wrapper .headNav .wrapButton .linkLogin {
    padding: 9px 14px; }
  .firstSection .header .wrapper .wrapContent {
    padding: 70px 0 30px; }
  .firstSection .header .wrapper .wrapContent .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px; }
  .firstSection .header .wrapper .wrapContent .subTitle {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px; }
  .firstSection .header .wrapper .wrapContent .video {
    margin-bottom: 30px; } }

@media screen and (max-width: 480px) {
  .firstSection .header .wrapper .headNav .wraplogo a {
    font-size: 15px; }
  .firstSection .header .wrapper .wrapContent {
    padding: 50px 0 30px; }
  .firstSection .header .wrapper .wrapContent .title {
    font-size: 34px;
    line-height: 34px; }
  .firstSection .header .wrapper .wrapContent .subTitle {
    font-size: 16px;
    line-height: 16px; }
  .firstSection .header .wrapper .wrapContent .video {
    margin-bottom: 25px; } }

.aboutSection {
  background-color: #f7f9fd; }

.aboutSection .wrapTitle {
  padding: 95px 15px 100px;
  text-align: center;
  border-bottom: 1px solid #e9edf1; }

.aboutSection .wrapTitle .title {
  color: #525e6f;
  font-family: OpenSansLight;
  font-size: 36px;
  margin-bottom: 50px; }

.aboutSection .wrapTitle .btnSelect {
  display: inline-block;
  padding: 19px 97px;
  background-color: #208399;
  color: #fff;
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid #208399;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.aboutSection .wrapTitle .btnSelect:hover {
  border: 2px solid #208399;
  background-color: #fff;
  color: #208399; }

.aboutSection .wrapper .contentItems {
  background-color: #fcfdfe; }

.aboutSection .wrapper .contentItems .item {
  padding: 0 15px; }

.aboutSection .wrapper .contentItems .item:nth-child(2) {
  background-color: #f7f9fd; }

.aboutSection .wrapper .contentItems .item:nth-child(4) {
  background-color: #f7f9fd; }

.aboutSection .wrapper .contentItems .item:nth-child(6) {
  background-color: #f7f9fd; }

.aboutSection .wrapper .contentItems .item .itemsWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  width: 100%;
  max-width: 1170px;
  margin: auto; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentLeft {
  width: 60px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentLeft img {
  width: 60px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight {
  padding-left: 25px;
  margin-right: 40px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .title {
  color: #525e6f;
  font-family: OpenSansRegular;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 30px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .text {
  color: #606c7e;
  font-family: OpenSansRegular;
  font-size: 15px;
  line-height: 30px; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg img {
  max-width: 100%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg img:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.015);
      -ms-transform: scale(1.015);
          transform: scale(1.015); }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  width: 100%;
  max-width: 1170px;
  margin: auto; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap {
  max-width: 925px; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight {
  text-align: center; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .title {
  color: #525e6f;
  font-family: OpenSansRegular;
  font-size: 22px;
  margin-bottom: 25px; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .text {
  color: #606c7e;
  font-family: OpenSansRegular;
  font-size: 15px;
  line-height: 30px; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .progressBar {
  margin: 30px 0 110px; }

.aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .progressBar img {
  max-width: 100%; }

@media screen and (max-width: 1024px) {
  .aboutSection .wrapTitle .title {
    font-size: 30px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap {
    margin-bottom: 30px;
    max-width: 700px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight {
    margin-right: 0; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg {
    margin-bottom: 30px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast {
    padding-top: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .title {
    color: #525e6f;
    font-family: OpenSansRegular;
    font-size: 22px;
    margin-bottom: 25px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .text {
    color: #606c7e;
    font-family: OpenSansRegular;
    font-size: 15px;
    line-height: 30px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .progressBar {
    margin: 30px 0 60px; } }

@media screen and (max-width: 667px) {
  .aboutSection .wrapper .wrapTitle {
    padding: 30px 15px; }
  .aboutSection .wrapper .wrapTitle .title {
    font-size: 28px;
    margin-bottom: 30px; }
  .aboutSection .wrapper .wrapTitle .btnSelect {
    padding: 20px 70px;
    font-size: 16px;
    line-height: 16px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .text {
    font-size: 14px;
    line-height: 24px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast {
    padding-top: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .text {
    font-size: 14px;
    line-height: 24px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .progressBar {
    margin: 30px 0 50px; } }

@media screen and (max-width: 480px) {
  .aboutSection .wrapTitle {
    padding: 20px 15px; }
  .aboutSection .wrapTitle .title {
    font-size: 22px;
    margin-bottom: 20px; }
  .aboutSection .wrapTitle .btnSelect {
    padding: 15px 40px;
    font-size: 15px;
    line-height: 15px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap {
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentLeft {
    width: 40px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentLeft img {
    width: 40px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrap .contentRight .text {
    font-size: 14px;
    line-height: 24px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg {
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg img {
    height: 300px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast {
    padding-top: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .contentRight .text {
    font-size: 14px;
    line-height: 24px; }
  .aboutSection .wrapper .contentItems .item .itemsWrapperLast .itemWrap .progressBar {
    margin: 20px 0 30px; } }

@media screen and (max-width: 420px) {
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg img {
    height: 250px; } }

@media screen and (max-width: 380px) {
  .aboutSection .wrapper .contentItems .item .itemsWrapper .itemWrapImg img {
    height: 200px; } }

.selectSection {
  padding: 90px 15px 100px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.selectSection .wrapper {
  width: 100%;
  max-width: 775px;
  margin: auto; }

.selectSection .wrapper .contantSelect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.selectSection .wrapper .contantSelect .title {
  color: #fff;
  font-family: OpenSansLight;
  font-size: 36px;
  text-align: center;
  margin-bottom: 85px; }

.selectSection .wrapper .contantSelect .onlyInstall {
  display: block;
  padding: 26px 20px;
  color: white;
  font-family: OpenSansSemibold;
  font-size: 18px;
  border: 2px solid white;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  text-align: center;
  margin-bottom: 28px;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.selectSection .wrapper .contantSelect .onlyInstall:hover {
  color: #0b7e97;
  background-color: #fff; }

.selectSection .wrapper .contantSelect .install {
  display: block;
  padding: 26px 20px;
  color: #0b7e97;
  font-family: OpenSansSemibold;
  font-size: 18px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border: 2px solid #0b7e97;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.selectSection .wrapper .contantSelect .install:hover {
  color: white;
  background-color: transparent;
  border: 2px solid white; }

@media screen and (max-width: 1024px) {
  .selectSection {
    padding: 60px 15px; }
  .selectSection .wrapper .contantSelect .title {
    font-size: 30px;
    margin-bottom: 50px; } }

@media screen and (max-width: 667px) {
  .selectSection {
    padding: 40px 15px; }
  .selectSection .wrapper .contantSelect .title {
    font-size: 28px;
    margin-bottom: 50px; }
  .selectSection .wrapper .contantSelect .onlyInstall {
    padding: 20px 30px;
    font-size: 16px;
    margin-bottom: 20px; }
  .selectSection .wrapper .contantSelect .install {
    padding: 20px 30px;
    font-size: 16px; } }

@media screen and (max-width: 480px) {
  .selectSection {
    padding: 20px 15px; }
  .selectSection .wrapper .contantSelect .title {
    font-size: 22px;
    margin-bottom: 30px; }
  .selectSection .wrapper .contantSelect .onlyInstall {
    padding: 15px 40px;
    font-size: 15px; }
  .selectSection .wrapper .contantSelect .install {
    padding: 15px 40px;
    font-size: 15px; } }

@media screen and (max-width: 360px) {
  .selectSection {
    padding: 15px; }
  .selectSection .wrapper .contantSelect .title {
    font-size: 20px;
    margin-bottom: 26px; }
  .selectSection .wrapper .contantSelect .onlyInstall {
    padding: 15px 20px; }
  .selectSection .wrapper .contantSelect .install {
    padding: 15px 20px; } }

.lastSection .footer {
  padding: 0 15px; }

.lastSection .footer .wrapper {
  width: 100%;
  max-width: 1170px;
  margin: auto; }

.lastSection .footer .wrapper .footerNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0; }

.lastSection .footer .wrapper .footerNav .wrapLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%; }

.lastSection .footer .wrapper .footerNav .wrapLogo a {
  display: inline-block;
  position: relative;
  color: #393939;
  font-family: OpenSansBold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none; }

.lastSection .footer .wrapper .footerNav .wrapLogo a > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -o-transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99), -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.lastSection .footer .wrapper .footerNav .wrapLogo a > div > div {
  color: #299cb6;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -o-transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  transition: transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99), -webkit-transform 0.4s cubic-bezier(0.06, 0.35, 0.32, 0.99);
  -webkit-transform: translateX(100%) translateZ(0);
          transform: translateX(100%) translateZ(0); }

.lastSection .footer .wrapper .footerNav .wrapLogo a:hover div {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.lastSection .footer .wrapper .footerNav .wrapButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%; }

.lastSection .footer .wrapper .footerNav .wrapButton .textWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px; }

.lastSection .footer .wrapper .footerNav .wrapButton .textWrap .footerText {
  color: #299cb6;
  font-family: OpenSansSemibold;
  font-size: 13px;
  text-transform: uppercase; }

.lastSection .footer .wrapper .footerNav .wrapButton .textWrap .footerText:last-child {
  margin-left: 38px;
  position: relative; }

.lastSection .footer .wrapper .footerNav .wrapButton .textWrap .footerText:last-child:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  top: 0;
  left: -19px;
  background-color: #299cb6; }

.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport,
.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkLogin {
  height: 40px;
  padding: 9px 16px;
  color: #299cb6;
  border: 2px solid #299cb6;
  font-family: OpenSansSemibold;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport {
  border-right: none;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  margin-right: -4px; }

.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport:hover {
  color: #fff;
  background-color: #299cb6;
  border-right: none; }

.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkLogin {
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px; }

.lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkLogin:hover {
  color: #fff;
  background-color: #299cb6; }

@media screen and (max-width: 1024px) {
  .lastSection .footer .wrapper .footerNav .wrapLogo {
    width: 30%; }
  .lastSection .footer .wrapper .footerNav .wrapButton {
    width: 70%; } }

@media screen and (max-width: 768px) {
  .lastSection .footer .wrapper .footerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0; }
  .lastSection .footer .wrapper .footerNav .wrapLogo {
    width: 100%;
    margin-bottom: 15px; }
  .lastSection .footer .wrapper .footerNav .wrapLogo a {
    margin: 0 auto;
    font-size: 16px; }
  .lastSection .footer .wrapper .footerNav .wrapButton {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport,
  .lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkLogin {
    padding: 9px 14px;
    display: inline-block; }
  .lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport {
    margin-right: -4px; }
  .lastSection .footer .wrapper .footerNav .wrapButton .textWrap {
    margin-right: 0;
    margin-bottom: 15px; } }

@media screen and (max-width: 480px) {
  .lastSection .footer .wrapper .footerNav {
    padding: 20px 0; }
  .lastSection .footer .wrapper .footerNav .wrapLogo a {
    font-size: 15px; }
  .lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkSupport,
  .lastSection .footer .wrapper .footerNav .wrapButton .linkWrap .linkLogin {
    padding: 9px 14px; }
  .lastSection .footer .wrapper .footerNav .wrapButton .textWrap .footerText {
    font-size: 12px; } }
